footer {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: auto;
    border-top: 1px solid white;
    z-index: 1;
    .footerInformation {
        z-index: -1!important;
        text-align: center;
        color: white;
    }   

}


