header {
    nav {
        position: fixed;
        width: 30%;
        margin-left: 65%;
        z-index: 1;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 50px;
    }

    li {
        margin: auto;
        font-size: 30px;
        font-weight: 900;
        list-style: none;
        &:hover {
            background: black;
            text-shadow: 3px 3px 10px blue;
            border-radius: 10%;
            text-decoration: overline;
            text-decoration-color: blue;


        }
    }
    a{
        text-decoration: none;
        color: white;

    }

    .logoHeader {
        width: 100%;
        min-height: 10vh;
        max-height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .logoWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        margin-top: 65px;
        width: 30%;
        height: auto;
        z-index: -2;
    }

    .createName {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo{

        color: $default-font-color;
        font-weight: bold;
        font-size: 70px;
        margin: auto;
        text-align: center;
        min-width: 80px;
        max-width: 80px;
        min-height: 80px;
        max-height: 80px;
        border-radius: 60%;
        border: 3px solid white;
        @include logoAnimation();
        @include logoAnimationDuration();

    }
    #logoA {
        text-shadow: 3px 3px 10px blue;
        border: double white 3px;
        box-shadow: 3px 3px 10px white;
        margin: auto;


    }

    .name {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

        

    }
    .letterContainer {
        width: 60px;
        text-align: center;
        font-size: 50px;
        color: white;

        transition-timing-function: ease-in-out;

    }

    #A,#R,#E,#N,#C,#I,#B,#I{
        @include keyframeAnimation(flip);
        @include keyframeDuration(flip);
    }

    .hiddenElement {
        width: 100%;
    }

}

.mobileNav {
    display: none;
}





@media screen and (min-width: 200px) {
    .logoWrapper{
        width: 96%!important;
        margin: auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 1100px)  {
    .logoWrapper{
        margin-top: 65px!important;
        width: 60%!important;
        margin: auto;
    }
}

@media screen and (min-width: 1101px)  {
    .logoWrapper{
        width: 30%!important;
        margin: auto;
    }
}


/*Mobile CSS Styles*/
@media screen and (max-width: 600px) {
    .mainNav {
        display: none!important;
    }

    .logoWrapper {
        margin-top: 30px!important;
    }

    .mobileNav {
        width: 100%;
        height: auto;
        display: flex!important;
        align-items: flex-start;
        position: fixed;

        z-index: 1;

        #cancelButton {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: 10px;
        }

        .mobileHamburger {
            position: fixed;
            margin-top: 10px;
            width: 50px;
            height: 50px;
            background-color: white;
            border-radius: 20%;
            z-index: -1;
            &:hover {
                cursor: pointer;
            }
        }



        .mobileNavMenu {
            display: none;
            width: 100%!important;
            height: 100%!important;
            background-color: black!important;
        }

        .mobileUL {
            width: 60%;
            display: flex;
            flex-direction: column;
            text-align: center;
        }


    }
}


@media screen and (min-width: 669px)  {
    .name{
        width: 65%!important;
        justify-content: left!important;
    }
}

@media screen and (min-width: 1011px){
    .name {
        width: 40%!important;
        justify-content: left!important;
    }
}

@media screen and (min-width: 1510px){
    .name {
        width: 30%!important;

    }
}


@media screen and (min-width: 2000px)  {
    .name {
        justify-content: center!important;
    }
}
